{
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-param-reassign": ["error", { "props": false }],
    "no-use-before-define": ["error", "nofunc"],
    "require-await": ["error"]
  }
}
